{% extends 'base.html' %}

{% block title %}Пароль восстановлен{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center">
                <h2>Пароль успешно восстановлен!</h2>
                <p>Ваш пароль был успешно изменен. Теперь вы можете войти в систему с новым паролем.</p>
                <a href="{% url 'users:login' %}" class="btn btn-primary">Войти в систему</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
