{% extends 'base.html' %}

{% block title %}Пароль изменен{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center">
                <h2>Пароль успешно изменен!</h2>
                <p>Ваш пароль был успешно обновлен.</p>
                <a href="{% url 'users:profile_view' %}" class="btn btn-primary">Вернуться в профиль</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}