{% extends 'base.html' %}
{% block title %}Фотографии{% endblock %}

{% block content %}
<div class="year-filter">
    <h3>Фильтр по годам:</h3>
    {% for year in years %}
        <a href="{% url 'photos_by_year' year %}">{{ year }}</a>{% if not forloop.last %} | {% endif %}
    {% endfor %}
</div>
<div class="photo-grid">
    {% for photo in photos %}
        <div class="photo-card">
            <h2><a href="{% url 'photo_detail' photo.pk %}">{{ photo.title }}</a></h2>
            <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
            <p>{{ photo.description }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}